<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need Access</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>Extensions</key>
			<array>
				<string>glb</string>
			</array>
			<key>UTTypeConformsTo</key>
			<array>
				<string></string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.app.glb</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>icon</string>
			<key>CFBundleTypeName</key>
			<string>com.app.glb</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string></string>
</dict>
</plist>
